<div>
    <h2 data-translate="sagrabeApp.sagra.home.title">Sagras</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sagra.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="sagrabeApp.sagra.home.createLabel">
                        Create new Sagra
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="sagrabeApp.sagra.nome">Nome</span></th>
                    <th><span data-translate="sagrabeApp.sagra.logo">Logo</span></th>
                    <th><span data-translate="sagrabeApp.sagra.indirizzo">Indirizzo</span></th>
                    <th><span data-translate="sagrabeApp.sagra.piva">Piva</span></th>
                    <th><span data-translate="sagrabeApp.sagra.testataScontrino">Testata Scontrino</span></th>
                    <th><span data-translate="sagrabeApp.sagra.footerScontrino">Footer Scontrino</span></th>
                    <th><span data-translate="sagrabeApp.sagra.sequenzeAbilitate">Sequenze Abilitate</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sagra in vm.sagras track by sagra.id">
                    <td><a ui-sref="sagra-detail({id:sagra.id})">{{sagra.id}}</a></td>
                    <td>{{sagra.nome}}</td>
                    <td>
                        <a ng-if="sagra.logo" ng-click="vm.openFile(sagra.logoContentType, sagra.logo)">
                            <img data-ng-src="{{'data:' + sagra.logoContentType + ';base64,' + sagra.logo}}" style="max-height: 30px;" alt="sagra image"/>
                        </a>
                        <span ng-if="sagra.logo">{{sagra.logoContentType}}, {{vm.byteSize(sagra.logo)}}</span>
                    </td>
                    <td>{{sagra.indirizzo}}</td>
                    <td>{{sagra.piva}}</td>
                    <td>{{sagra.testataScontrino}}</td>
                    <td>{{sagra.footerScontrino}}</td>
                    <td>{{sagra.sequenzeAbilitate}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sagra-detail({id:sagra.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sagra.edit({id:sagra.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sagra.delete({id:sagra.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
